#sliders {
    margin-left: 40vw;
}
#playerSpeedSlider{
    display: none;
}
#menuButtons {

}
#startButton {
    margin-top: 5vh;
    margin-left: 43vw;
    font-family: Alegreya Sans SC, serif;
    font-size: 1.5vw;
    font-weight: bold;
    color: rgba(135, 0, 0, 0.8);
    background: rgba(116, 214, 233, 0.7);
    height: 5vh;
    width: 10vw;
    border-radius: 1vw;
    border: transparent;
}
#startButton:hover {
    margin-left: 42.5vw;
    margin-top: 4.75vh;
    color: rgba(135, 0, 0, 1);
    font-size: 1.75vw;
    height: 5.5vh;
    width: 11vw;
    background: rgba(116, 214, 233, 1);
}

#sliders h1 {
    font-family: Alegreya Sans SC, serif;
    font-size: 1.5vw;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        width: 15vw;
        -webkit-appearance: none;
        background-color: darkred;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 1.7vh;
        -webkit-appearance: none;
        color: #13bba4;
        margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 1vw;
        -webkit-appearance: none;
        height: 1.7vh;
        cursor: ew-resize;
        background: springgreen;
        box-shadow: -15vw 0 0 15vw springgreen;
    }

}
input[type="range"]::-moz-range-progress {
    background-color: springgreen;
}
input[type="range"]::-moz-range-track {
    background-color: #9a905d;
}

input[type="range"]::-ms-fill-lower {
    background-color: springgreen;
}
input[type="range"]::-ms-fill-upper {
    background-color: #9a905d;
}



#radio {
    position: absolute;
    top:62vh;
    left: 60vw;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}



#canvas{
    background: lightgray;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
}

.triangle {
    position: absolute;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    background: lawngreen;
    animation: rotating 7s linear infinite;
}
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.square {
    background: darkslateblue;
    position: absolute;
}
.circle {
    background: orange;
    position: absolute;
    border-radius: 50%;
}

.player {
    background: crimson;
    position: absolute;
    height: 6vh;
    width: 6vh;
}
.score {
    opacity: 50%;
    color: lightpink;
    position: absolute;
    font-size: 7vw;
    top:30%;
    left:48%;
}
.endMenu {
    position: absolute;
    top: 25%;
    left: 35%;
    z-index: 2000001;
}
.endMenu h1 {
    filter: brightness(100%);
    font-size: 3vw;
    color: lightseagreen;
    white-space: pre-wrap !important;
}
.endMenu button {
    position: absolute;
    left:12vw;
    font-size: 1vw;
    color: lightseagreen;
    font-weight: bold;
    width: 6vw;
    height: 6vh;
    background: lightgray;
    border-radius: 2vw;
}
.endMenuButton {
    top:30vh;
}
