


#canvas{
    background: lightgray;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
}


.triangle {
    position: absolute;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    background: lawngreen;
    animation: rotating 7s linear infinite;
}
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.square {
    background: darkslateblue;
    position: absolute;
}
.circle {
    background: orange;
    position: absolute;
    border-radius: 50%;
}

.player {
    background: crimson;
    position: absolute;
    height: 6vh;
    width: 6vh;
}
.score {
    opacity: 50%;
    color: lightpink;
    position: absolute;
    font-size: 7vw;
    top:30%;
    left:45%;
}
.endMenu {
    position: absolute;
    top: 30%;
    left: 35%;
    z-index: 2000001;
}
.endMenu h1 {
    filter: brightness(100%);
    font-size: 3vw;
    color: lightseagreen;
    white-space: pre-wrap !important;
}
